body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f8;
}

nav {
    background: #222;
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul li a:hover {
    color: #00bcd4;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 60px;
    text-align: center;
}

#home h1 {
    font-size: 40px;
}

#home p {
    font-size: 20px;
    color: gray;
}

#home {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.skill-box {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.skill-box span {
    background: #222;
    color: white;
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 20px;
}

.wave {
    display: inline-block;
    animation: wave 1.5s infinite;

}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(20deg);
    }

    40% {
        transform: rotate(40deg);
    }

    60% {
        transform: rotate(60deg);
    }

    100% {
        transform: rotate(100deg);
    }
}

#contact {
    background: #f4f6f8;

}

#contactForm {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

#contactForm input,
#contactForm textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#contactForm button {
    padding: 12px;
    background: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contactForm button:hover {
    background: #00bcd4;

}

#successMsg {
    color: green;
    font-weight: 15px;
    margin-top: 10px;

}